<form action="#" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <legend>Sign up for our newsletter</legend>
	    <label for="newsletter-scope">Sign up for our newsletter</label>
   		<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="inline-form-field" />
    	<button class="newsletter-submit">Sign Me Up</button>
    </fieldset>
</form>