/*

*/
/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf, .l-two-col, [role=main],
.clearfix {
  *zoom: 1;
}

.cf:before, .l-two-col:before, [role=main]:before, .cf:after, .l-two-col:after, [role=main]:after,
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after, .l-two-col:after, [role=main]:after,
.clearfix:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden,
.element-invisible {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
  padding: 0 0 1rem 1rem;
}

.right-search {
  float: right;
  padding: 0 0 1rem 0;
}

.left {
  float: left;
  padding: 0 1rem 1rem 0;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  .hide-large {
    display: none;
  }
}

.valid {
  color: #089e00;
}

.error {
  color: red;
}

body {
  background: white;
  font: 100%/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333333;
}

/* Links */
a {
  color: #333333;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: gray;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  line-height: 1.2;
}

h2, .beta {
  line-height: 1.2;
}

h3, .gamma {
  line-height: 1.2;
}

/* Subheadings */
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

/* Text-Related Elements */
p {
  margin-bottom: 1rem;
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid gray;
  color: gray;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eeeeee;
  margin: 2rem 0;
}

abbr {
  border-bottom: 1px dotted gray;
  cursor: help;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: 1rem;
}

figure {
  margin-bottom: 1rem;
}
figure img {
  margin-bottom: 0.25rem;
}

figcaption {
  font-style: italic;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form > div {
  margin-bottom: 1rem;
}

form ol, form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 0.25rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

input, textarea {
  width: 100%;
  border: 1px solid gray;
  padding: 0.5rem 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}

button, input[type="submit"] {
  color: white;
  padding: 0.5rem;
  background: #333333;
  border: 1px solid gray;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.form-item {
  margin-bottom: 1rem;
}

.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}
.inline-form .inline-form-field {
  float: left;
  width: auto;
}
.inline-form input[type=submit], .inline-form button, .inline-form .btn, .inline-form .btn--alt {
  border: none;
  padding: 0.5rem 1.3rem;
  float: left;
  width: auto;
}

/* Validation */
.has-error {
  border-color: red;
}

.is-valid {
  border-color: #089e00;
}

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;
}

th {
  text-align: left;
  border: 1px solid gray;
  padding: 0.2em;
}

td {
  border: 1px solid gray;
  padding: 0.2em;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Layout Container */
.lc, .header, [role=main] {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0.5rem;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
/* Two Column Layout */
@media all and (min-width: 50em) {
  .l-two-col .l-main {
    float: left;
    width: 70%;
    padding-right: 1rem;
  }
}
@media all and (max-width: 50em) {
  .l-two-col .l-sidebar {
    clear: both;
  }
}
@media all and (min-width: 50em) {
  .l-two-col .l-sidebar {
    float: left;
    width: 30%;
    padding: 0 0 0 1rem;
  }
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
.header {
  background: white;
  padding: 0;
}
@media all and (min-width: 46.8em) {
  .header {
    border-bottom: 1px solid #dbdbdb;
  }
}

.logo {
  float: left;
  max-width: 8rem;
  margin: 0.4rem;
}
@media all and (min-width: 46.8em) {
  .logo {
    max-width: 9rem;
  }
}

.site-search-form {
  overflow: hidden;
}
@media all and (min-width: 46.8em) {
  .site-search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  clear: both;
  overflow: hidden;
}
.nav a {
  display: block;
  padding: 1rem;
  border-top: 1px solid #eeeeee;
}
@media all and (min-width: 46.8em) {
  .nav li {
    float: left;
  }
  .nav a {
    border: 0;
  }
}

@media all and (min-width: 46.8em) {
  .nav-primary {
    max-height: none;
    float: right;
    clear: none;
  }
}

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  padding: 0.5rem 0.5rem 2rem;
  overflow: hidden;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: white;
  line-height: 1.2;
}
.footer .lc, .footer .header, .footer [role=main] {
  padding: 1rem 1rem 0;
}
.footer a {
  color: #f9f9f9;
}

@media all and (min-width: 46.8em) {
  .copyright {
    float: right;
  }
}

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
/* Global Font Classes */
.font-secondary {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.intro {
  font-size: 1.0625em;
  font-weight: bold;
}

.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em;
}

.text a {
  text-decoration: underline;
}
.text ul {
  list-style: disc;
  margin: 0 0 1rem 1.2em;
}
.text ul ul {
  margin-bottom: 0;
}
.text ol {
  list-style: decimal;
  margin: 0 0 1rem 1.2em;
}
.text ol ol {
  margin-bottom: 0;
}

/* Review Grade Tile */
.grade {
  display: block;
  font-weight: bold;
  background: gray;
  color: white;
  min-height: 4.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

/* Eyebrow */
.eyebrow {
  background: #333333;
  color: white;
  padding: 0.2em;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.eyebrow-image {
  position: relative;
}
.eyebrow-image img {
  position: relative;
  z-index: 0;
}
.eyebrow-image .eyebrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\74";
}

.icon-stumbleupon:before {
  content: "\75";
}

.icon-pinterest:before {
  content: "\70";
}

.icon-linkedin:before {
  content: "\69";
}

.icon-google-plus:before {
  content: "\67";
}

.icon-search:before {
  content: "\73";
}

.icon-play:before {
  content: "\61";
}

.icon-menu:before {
  content: "\21";
}

.icon-arrow-left:before {
  content: "\23";
}

.icon-arrow-right:before {
  content: "\24";
}

.icon-bubble:before {
  content: "\25";
}

.icon-facebook:before {
  content: "\66";
}

.icon-feed:before {
  content: "\27";
}

.icon-youtube:before {
  content: "\79";
}

.icon-tag:before {
  content: "\28";
}

.icon-tumblr:before {
  content: "\6d";
}

.icon-instagram:before {
  content: "\22";
}

.icon-podcast:before {
  content: "\26";
}

.icon-android:before {
  content: "\29";
}

.icon-apple:before {
  content: "\2a";
}

.icon-envelope:before {
  content: "\2b";
}

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em;
}

.icon-play-box {
  display: block;
  margin-left: 2rem;
}

.icon-play-box:before {
  padding: 0.25rem;
  background: gray;
  color: white;
  margin-left: -1.7rem;
  margin-right: 0.5rem;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn, .btn--alt, .btn--alt[type="submit"], .btn[type="submit"], [type="submit"].btn--alt {
  display: inline-block;
  background: #333333;
  border: none;
  color: white;
  line-height: 1;
  font-weight: bold;
  padding: 1rem;
  border: 0;
  text-align: center;
  width: auto;
}
.btn:hover, .btn--alt:hover, .btn:focus, .btn--alt:focus, .btn[type="submit"]:hover, [type="submit"].btn--alt:hover, .btn[type="submit"]:focus, [type="submit"].btn--alt:focus {
  color: white;
}
.btn.is-disabled, .is-disabled.btn--alt, .btn[type="submit"].is-disabled, [type="submit"].is-disabled.btn--alt {
  background: #eeeeee;
  color: #bbbbbb;
}

.btn--alt, .btn--alt[type="submit"] {
  background: #bbbbbb;
}

.text-btn {
  font-style: italic;
}

/* Block */
.block {
  overflow: hidden;
}
.block p:last-child {
  margin-bottom: 0;
}

/* Block Thumbnail with Headline */
.block-thumb .block-thumb-anchor {
  display: block;
}
@media all and (min-width: 29.75em) {
  .block-thumb .block-thumb-thumb {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    max-width: 10em;
  }
  .block-thumb .block-thumb-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 29.75em) {
  .block-thumb .block-thumb-text {
    display: table-cell;
    width: 70%;
    padding: 0 1rem;
  }
}

.inline-list li {
  display: inline-block;
}

/* Social List */
.social-list li {
  margin: 0 0.4rem 1rem 0;
}
.social-list a {
  font-size: 1.6em;
}

/* Headline List */
.headline-list {
  margin-bottom: 1rem;
}
.headline-list.flush {
  margin: 0;
}
.headline-list h4 {
  font-weight: normal;
}
.headline-list li {
  padding: 0.25rem 0;
  border-top: 1px solid #dddddd;
}

/* Post List */
.post-list li {
  margin-bottom: 1rem;
}

/* Bullet List */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}
.bullet-list li {
  margin-bottom: 1rem;
}

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}
.text-list li {
  margin-bottom: 1rem;
}

/*------------------------------------*\
    $TABS
\*------------------------------------*/
ul.tabs {
  clear: both;
  overflow: hidden;
}
ul.tabs a {
  display: block;
  padding: 1rem;
  border-top: 1px solid #eeeeee;
}
ul.tabs a:hover {
  background: #dddddd;
}
ul.tabs a.active {
  background: #eeeeee;
}
@media all and (min-width: 46.8em) {
  ul.tabs {
    border-bottom: 1px solid #eeeeee;
  }
  ul.tabs li {
    float: left;
  }
  ul.tabs a {
    border: 0;
  }
}

ul.tabs.secondary a {
  padding: 0.5rem 1rem;
}

.section {
  margin: 0 0 1rem;
}

.section-title {
  margin-bottom: 0.5rem;
}

.article-header h1 {
  font-size: 2.5em;
}

.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* Wordpress Caption */
.wp-caption-text {
  font-style: italic;
}

.review-summary .grade {
  width: 4.5em;
  float: left;
  margin: 0 0.5rem 0 0;
}
.review-summary .summary-text {
  margin-left: 5em;
}

.comments .comment-list {
  margin-top: 1rem;
}
.comments li {
  margin-bottom: 1rem;
}

.comment-container {
  overflow: hidden;
  margin-bottom: 1rem;
}

.comment-meta img {
  display: block;
  border: 1px solid #eeeeee;
  margin-bottom: 0.5rem;
}
@media all and (min-width: 24em) {
  .comment-meta {
    float: left;
    width: 6.5em;
  }
}

.comment-name {
  font-size: 0.75em;
}

@media all and (min-width: 24em) {
  .comment-text {
    margin-left: 9em;
  }
}

/*------------------------------------*\
    $PAGER
\*------------------------------------*/
ul.pager li {
  border-right: 1px solid #eeeeee;
  float: left;
}
ul.pager li:last-child {
  border: 0;
}
ul.pager li a {
  display: block;
  padding: 0 1rem;
}
ul.pager li.pager-current {
  padding: 0 1rem;
}

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
.breadcrumb ul li {
  float: left;
  margin-right: 0.5rem;
}
.breadcrumb ul li:after {
  content: " / ";
}
.breadcrumb ul li:nth-last-of-type(1) {
  margin-right: 0;
}
.breadcrumb ul li:nth-last-of-type(1):after {
  content: "";
}
.breadcrumb ul li a {
  margin: 0 0.5rem 0 0;
}
