/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form > div {
	margin-bottom: $space;
}

form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space-quarter;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input, textarea {
	width: 100%;
	border: 1px solid $gray;
	padding: $pad-half 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	color: $white;
	padding: $pad-half;
	background: $gray-dark;
	border: 1px solid $gray;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.form-item {
	margin-bottom: $space;
}

.inline-form {
	
	fieldset, .inline-container {
		position: relative;
	}
	
	.inline-form-field {
  	float: left;
  	width: auto;
	}
	
	input[type=submit], button, .btn {
		border: none;
		//color: $white;
		padding: 0.5rem 1.3rem;
		//background: $gray-dark;
		float: left;
		width: auto;

		&:hover, &:focus {
			//background: $gray;
			//color: $white;
		}
	}
}

/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}

