<p><a href="#" class="btn">Button</a></p>
<p><input class="btn" type="submit" value="Button" /></p>
<p><a href="#" class="btn--alt">Alternate Button</a></p>
<p><input class="btn--alt" type="submit" value="Alternate Button" /></p>
<p><a href="#" class="btn is-disabled" disabled>Disabled Button</a></p>
<p><input class="btn is-disabled" type="submit" value="Disabled Button" /></p>
<p><a href="#" class="text-btn">Text Button</a></p>