<nav class="nav">
	<ul>
		<li class="first active-trail"><a class="active" href="#">Item 1</a></li>
		<li><a href="#">Item 2</a></li>
		<li class="last"><a href="#">Item 3</a></li>
	</ul>
</nav><!--end .nav-->
