<nav class="nav nav-primary">
	<ul>
		<li class="first"><a href="{{ link.pages-homepage }}">Home</a></li>
		<li class="active-trail"><a class="active" href="#">About</a></li>
		<li><a href="{{ link.pages-blog }}">Blog</a></li>
		<li class="last"><a href="#">Contact</a></li>
	</ul>
</nav><!--end .nav-->