<ul class="pager">
  <li class="pager-first first"><a href="" title="Go to first page">« first</a></li>
  <li class="pager-previous"><a href="" title="Go to previous page">‹ previous</a></li>
  <li class="pager-item"><a href="" title="Go to page 1">1</a></li>
  <li class="pager-current">2</li>
  <li class="pager-item"><a href="" title="Go to page 3">3</a></li>
  <li class="pager-item"><a href="" title="Go to page 4">4</a></li>
  <li class="pager-next"><a href="" title="Go to next page">next ›</a></li>
  <li class="pager-last last"><a href="" title="Go to last page">last »</a></li>
</ul>