<div class="tabs">
  <h2 class="element-invisible">Primary tabs</h2>
  <ul class="tabs primary">
    <li class="active"><a href="" class="active">Tab 1<span class="element-invisible">(active tab)</span></a></li>
    <li><a href="">Tab 2</a></li>
  </ul>
</div>