<div class="tabs-secondary">
  <h2 class="element-invisible">Secondary tabs</h2>
  <ul class="tabs secondary">
    <li class="active"><a href="" class="active">Secondary tab 1<span class="element-invisible">(active tab)</span></a></li>
    <li><a href="">Secondary tab 2</a></li>
    <li><a href="">Secondary tab 3</a></li>
  </ul>
</div>