/* Block */
.block {
	overflow: hidden;

	p:last-child {
		margin-bottom: 0;
	}
}

/* Block Thumbnail with Headline */
.block-thumb {

	.block-thumb-anchor {
		display: block;
	}

	.block-thumb-thumb {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			vertical-align: top;	
	  		width: 30%;
	  		max-width: 10em;

	 		img {
	 			display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.block-thumb-text {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			width: 70%;
			padding: 0 $pad;
		}
	}
}